# ==================================================
# 🌞 Solar AI Platform - Requirements
# Niveau : National - Industriel - ERA 2026
# Streamlit Cloud Compatible
# ==================================================

streamlit
pandas
numpy>=1.26.0
plotly
scikit-learn==1.3.0
streamlit-folium
folium